@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 1rem;
    color: brown;
    text-align: center;
}

body {
    min-height: 100vh;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
}

.form__input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 1rem;
    background-color: beige;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    text-align: center;
    font-size: 1.5rem;

}

button[type=submit]{
    margin: 0 3rem ;
    padding: .3rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 1px solid red;
    font-size: 1.2rem;
    color: red;
}
button[type=submit]:hover{
    background-color: brown;
    cursor: pointer;
    color: beige;
}
input[type=text]{
    flex: 1;
    margin: 1rem 0;
    padding: 13px;
    border-radius: 1rem;
}


.container{
    display: flex;
    background-color: beige;
    border-radius: 2rem;
}

/*
left side
*/
.container__left{
    flex: .3;
    border: 1px solid black;
    margin: 1rem;
    padding: .3rem;
    height:20rem;
    border-radius: 1rem;
    text-align: center;
}
.container__left img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
   
}
.text_content,
.text_content_ia{
    position: absolute;
    top: 30rem;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out;
}
.score__content{
    display: inline-block;
}

.info__name{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.user__score{
    color: red;
    font-weight: bold;
}

/*
rigth side
*/

.container__right{
    flex: .3;
    border: 1px solid black;
    margin: 1rem;
    padding: .3rem;
    height: 20rem;
    border-radius: 1rem;
    text-align: center;
}
.container__right img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.right__name{
    font-size: 1.5rem;
}
.ia__score{
    color: red;
    font-weight: bold;
}

/*
center 
*/

.container__center{
    flex: 1;
    text-align: center;

}
.btn__reset{
    padding: .7rem;
    background: transparent;
    border-radius: .3rem;
    font-size: 1.3rem;
    border: 2px solid red;
    text-transform: uppercase;
    color: red;
}
.btn__reset:hover{
    background-color: rgb(101, 0, 0);
    cursor: pointer;
}

.numbers{
    display: flex;
    justify-content: center;

    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: brown;
}
span{
    margin: .7rem;
}

.board__res{
    width: 30%;
    height: 30%;
    background-color: aqua;
}
.board {
    width: 500px;
    height: 500px;
    margin-bottom: 3rem;
}

body,
.cards,
.card,
.view {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.cards {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {

    color: azure;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    width: calc(100% / 9 - 10px);
    height: calc(100% /9 - 10px);
    margin: 1px;
    transform-style: preserve-3d;
}
.card:hover{
    cursor: pointer;
}

.view {
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(96, 5, 97);
    border-radius: 1rem;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.095);
    backface-visibility: hidden;
    transition: transform .3s linear;
}

.view-back img {
    max-width: 100%;
    border-radius: 50%;
}
.view-front,
.view-back{
    border-radius: 50%;
}
.card .view-back {
    /* display: none; */
    transform: rotateY(-180deg);
}

.card.flip .view-back {
    /* display: none; */
    transform: rotateY(0);
}

.card.flip .view-front {
    /* display: none; */
    transform: rotateY(180deg);
}

.vibration {
    animation: vibre .3s ease-in-out;
}
.zoom{
    animation: zoom .7s ease-in-out;
}

@keyframes vibre {

    0%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateX(-13px)
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

@keyframes zoom {
    0%,100%
    {
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }

    80%{
        transform: scale(1);
    }
}


@media screen and (min-width: 200px) and (max-width: 640px) {

    .container{
        padding: 2rem 0;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .board{
        width: 300px;
        height: 300px;
    }
    .card{
        color: azure;
        font-size: 1rem;
        font-weight: bold;
    
        border-radius: 50%;
        width: calc(100% / 9 - 2px);
        height: calc(100% /9 - 2px);
        margin: 1px;
        transform-style: preserve-3d;
    }
    .container__right,
    .container__left{
        margin: 0;
        padding: 0;
        border: none;
    }
    .container__left img {
        width: 5rem;
        height: auto;
    }
    .form__input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container__right img {
        width: 5rem;
        height: auto;
    }


    .btn__reset {
        padding: 0.5rem;
        font-size: 1rem;
        text-transform: uppercase;

    }
    .right__name,
    .info__name {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}